!!! 5
html
  head
    title #{title}
    meta(charset="utf-8") 
    meta(name="author", content="George Ornbo")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="/stylesheets/screen.css")
    link(rel="stylesheet", href="http://yandex.st/highlightjs/7.3/styles/solarized_dark.min.css")
    link(href="/atom.xml", rel="alternate", title="Shape Shed", type="application/atom+xml")
  body
    block content
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-324369-3']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    script(src="http://yandex.st/highlightjs/7.3/highlight.min.js")
    script
      hljs.initHighlightingOnLoad();
