!!! 5
html
  head
    title #{title}
    meta(charset="utf-8") 
    meta(name="author", content="George Ornbo")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet", href="/stylesheets/screen.css")
    link(href="/atom.xml", rel="alternate", title="Shape Shed", type="application/atom+xml")
  body
    block content
    footer
      p George Ornbo is a JavaScript and Ruby developer based in London, UK. He is the author of <a class="highlight" href="http://nodejsbook.io">Sams Teach Yourself Node.js in 24 Hours</a>. 
      ul
        li
          a.highlight(href="/") Home
        li
          a.highlight(href="http://feeds.feedburner.com/shapeshed") RSS Feed
        li
          a.highlight(href="https://github.com/shapeshed") GitHub
        li
          a.highlight(href="https://twitter.com/shapeshed") Twitter
        li
          a.highlight(href="https://plus.google.com/u/2/112147367550950112369/?rel=author") Google+
    script(type='text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-324369-3']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    script(src="/javascripts/application.js")
    script
      hljs.initHighlightingOnLoad();
